<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="tests/bootstrap.php" colors="true" verbose="true">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">nextcloud/lib</directory>
    </include>
  </coverage>
  <testsuites>git branch -M main
  git remote add origin https://github.com/YOUR_GITHUB_USERNAME/nextcloud-finance-tracker.git
  git push -u origin main
    <testsuite name="Nextcloud Finance Tracker Test Suite">
      <directory suffix="Test.php">tests/Unit</directory>
      <directory suffix="Test.php">tests/Integration</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="NEXTCLOUD_TESTING" value="1"/>
  </php>
</phpunit>
